@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Space+Mono&display=swap');
body {
	color: #333;
	margin: 0;
    color:powderblue;
    background-color: #11001A;
    font-family: 'Space Mono', monospace;
}


